*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background-color: whitesmoke;
}
h1{
    font-size: 4.8rem;
    font-weight: bold;
    color: tomato;
}
p{
    font-size: 1.2rem;
    font-weight: lighter;
    color: lightslategray;
}